body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.bodyy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-width: 60vw;
}

.bodyy form{
   min-width: 70vw;
    display: flex;
    position: relative;
   
    flex-direction: column;
}
@media screen and (min-width:800px) {
    .bodyy form{
       min-width: 40vw;
    }
}
.bodyy form input{
    position: relative;
    color: aqua;
    font-size: 3vw;
    text-align: center;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    height: 5vh;
font-size: 20px;
margin-top: 10px;
margin-bottom: 10px;
}

.bodyy form button{
    margin-left: 10px;
    color: aqua;
    text-transform: uppercase;
    max-width: 100%;
    margin-top: 10px;
    font-size: larger;
    text-align: center;
    transition: all 0.5s;
}
.bodyy form button:hover{
    background: aqua;
    color: black;
}
.bodyy h4{
    text-decoration: underline;
    font-style: italic;
    font-size: 18px;
}
.bodyy p span{
    color: red;
    font-weight: 800;
    background-color: aqua;
    border-radius: 6px;
    padding: 2px;
    cursor: pointer;
    transition: all 0.5s;
}
.bodyy p span:hover{
    color: aqua;
    background: red;
}
h1{
    text-align: center;

}

#wel{
    color: rgb(2, 233, 250);
    font-size: 25px;
    font-weight: bolder;
    text-shadow: 2px 2px 3px rgb(172, 172, 196);
    text-decoration: underline;
    transition: 0.5s;
    text-align: center;

}
#wel:hover{
    text-shadow: 4px 4px 30px rgb(221, 221, 233);

}
#cAcc,#cloG{
    font-size: 18px;
    text-align: center;
}
#cAcc span, #cloG span{
    font-size: 20px;
    text-transform: uppercase;
    color: aqua;
    transition: 0.5s;
    background: blue;
    padding: 2px;
    border-radius: 5px;
    cursor: pointer;
}
#cAcc span:hover, #cloG span:hover{
     color: rgb(4, 0, 255);
    background: rgb(0, 255, 255);
}

